// Buttons


// Topbar
@mp-topbar-background:        @black;
@mp-topbar-logo-font-family:  'League Spartan';
@mp-topbar-logo-font-size:    24px;
@mp-topbar-logo-color:        @white;

// Sidebar
@mp-sidebar-background:       @white;
@mp-sidebar-tag-color:        @black;
@mp-sidebar-tag-color-hover:  @gray;

// Content
@mp-content-background:       @grayDark;
@mp-content-padding:          25px;