/* Pile */

	#pile-results {
	  width: 100%;
	  min-width: 750px;
    box-sizing: content-box;
    display: inline-block;
    margin: 0px;
    list-style: none;
  }

  #pile-results li.result {
    background: @white; margin-bottom: @mp-search-item-margin-bottom;
		border-bottom: 1px solid @grayMid;
		box-sizing: padding-box;
		font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
		font-size: 14px;
		line-height: 14px;
    padding: @mp-search-item-spacing;
  }

	#pile-results li.result:hover    { background: @grayLighter; }
	#pile-results li.result-hover    { background: @grayLighter; }
	#pile-results li.result-on       { background: @colorSelect }
	#pile-results li.result-on:hover { background: @colorSelectHover }

  #pile-results span.pile-message-tag {
    font-weight: bold;
    margin-right: 5px;
    cursor: pointer;
  }

  #pile-results span.conversation-count {
    text-align: center;
    vertical-align: middle;
    position: relative;
    top: -2px;
    left: 3px;
    padding: 4px 8px 4px 8px;
    box-sizing: border-box;
    color: @grayDark;
    background: @grayMid;
    border-radius: @base-border-radius;
    font-size: 11px;
    font-weight: bold;
    line-height: 11px;
  }


/* Pile - Icons */
  
  #pile-results span.icon-lock-closed,
	#pile-results span.icon-new,
	#pile-results span.icon-reply,
	#pile-results span.icon-forward,
  #pile-results span.icon-compose {
    color: @mp-search-from-color;
    font-size: @mp-search-subject-font-size * .85;
  }

  #pile-results span.icon-lock-closed.decrypted,
  #pile-results span.icon-lock-closed.mixed-decrypted,
  #pile-results span.icon-lock-closed.lockedkey,
  #pile-results span.icon-lock-closed.mixed-lockedkey {
    color: @green;
  }

  #pile-results span.icon-lock-closed.error,
  #pile-results span.icon-lock-closed.mixed-error,
  #pile-results span.icon-lock-closed.missingkey,
  #pile-results span.icon-lock-closed.mixed-missingkey {
    color: @red;
  }

  #pile-results li.result span.icon-new {
    color: @blue;
    display: none;
  }

  #pile-results li.result.in_new span.icon-new {
    display: inline-block;
  }


/* Pile - Subject & Text */
	
	#pile-results a.subject {
    min-width: 374px;
    max-width: 500px;
    text-overflow: ellipsis;
		word-wrap: normal;
		word-break: normal;
    white-space: nowrap;
    margin-bottom: 8px;
    color: @mp-search-subject-color;
    font-size: @mp-search-subject-font-size;
    font-family: @mp-search-subject-font;
    line-height: @mp-search-subject-font-size * 1.25;
    vertical-align: text-top;
	}

  #pile-results div.from,
  #pile-results div.from em {
    color: @mp-search-from-color;
  }

  #pile-results div.from a.from {
    color: @mp-search-from-color;
    font-weight: bold;
  }

  #pile-results div.snippet {
    margin-bottom: @mp-search-item-spacing;
  }

  #pile-results div.checkbox {
    text-align: right;
    vertical-align: top;
  }


/* Pile Bottom */

	#pile-bottom {
		margin: 15px 15px 0px 0px;
	}
	
	#pile-bottom h5 {
    margin-top: 10px;
		color: @grayDark;
	}
	
	#pile-bottom a {
		margin-right: 15px;
	}

  #pile-empty {
    padding: @base-padding;
    background: @white;
    border-bottom: 1px solid @grayMid;
    font-size: 14px;
  }

  #pile-empty-search-terms {
    font-size: 24px;
    font-weight: bold;
    color: @gray;
  }


/* Pile Speed */

	#pile-speed {
	  margin-bottom: 50px;
		font-family: @mailpile-text-font-family-bold;
		color: @grayMid;
		font-size: 18px;
	}

	#pile-speed span {
		font-size: 21px;
		margin-right: 10px;
		position: relative;
		top: 3px;
		left: 0px;
	}

