/* Sidebar */

  #sidebar {
    width: 225px;
    background: @mp-sidebar-background;
    position: fixed;
    top: 62px;
    bottom: 0;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    padding-top: 5px;
    border-spacing: 0px;
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 10;
  }

  #sidebar div.detail-heading {
    margin-left: 17px;
  }

  #sidebar-lists  {
    padding: 0px;
    padding-bottom: 50px;
    margin: 0px;
  }

	#sidebar hr  { margin: 10px 0px;	}

  #sidebar      ul    { margin: 0px; padding: 0px; }
  #sidebar      ul li { margin: 3px 0px; padding: 0px 0px; transition-duration: 0.3s; }
  #sidebar.cozy ul li { margin-top: 2px; margin-bottom: 3px; padding-top: 2px; padding-bottom: 2px; }
  #sidebar.snug ul li { margin-top: 1px; margin-bottom: 2px; padding-top: 1px; padding-bottom: 1px; }

  #sidebar ul li.show-subtags {
    background: @white;
    padding-top: 5px;
	  transition-duration: 0.3s;
  }

  #sidebar a.sidebar-tag {
    position: relative;
    width: 200px;
    display: inline-block;
    margin: 0px 7px;
    padding: 6px 5px;
    vertical-align: middle;
    text-align: left;
    white-space: nowrap;
    transition-duration: 0.2s;
  }

  #sidebar.cozy a.sidebar-tag   { padding: 3px 0px; }
  #sidebar.snug a.sidebar-tag   { padding: 0px 0px; }

  #sidebar a.sidebar-tag span.icon {
    width: 24px;
    height: 18px;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    font-weight: normal;
    font-size: 18px;
    line-height: 18px;
    color: @mp-sidebar-tag-color;
  }

	#sidebar.cozy a.sidebar-tag span.icon { font-size: 18px; line-height: 18px; }
  #sidebar.snug a.sidebar-tag span.icon { font-size: 16px; line-height: 16px; }

  #sidebar a.sidebar-tag > span.name,
  #sidebar a.sidebar-tag > span.notification {
    vertical-align: middle;
    font-family: @mailpile-text-font-family;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
  }

  #sidebar a.sidebar-tag span.name {
    display: inline-block;
    max-width: 140px;
    padding-left: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

	}

  #sidebar a.sidebar-tag span.icon,
  #sidebar a.sidebar-tag span.name {
    color: @mp-sidebar-tag-color;
  }

  #sidebar a.sidebar-tag:hover,
  #sidebar a.sidebar-tag:hover span.icon,
  #sidebar a.sidebar-tag:hover span.name {
    color: @mp-sidebar-tag-color-hover;
  }

  #sidebar a.sidebar-tag span.notification {
    letter-spacing: -.5px;
    color: @gray;
  }

  #sidebar.cozy span.name,
  #sidebar.cozy span.notification { font-size: 16px; line-height: 18px; }
  #sidebar.snug span.name,
  #sidebar.snug span.notification { font-size: 14px; line-height: 16px; }

  #sidebar a.sidebar-tag.has-unread span.name,
  #sidebar a.sidebar-tag.has-unread span.notification {
    font-family: @mailpile-text-font-family-bold;
    font-weight: normal;
  }

 #sidebar span.sidebar-tag-expand {
   color: @gray;
 }


/* Sidebar - Subtags */

  #sidebar ul.sidebar-subtags {
    margin-bottom: 8px;
    padding: 0px;
  }

  #sidebar ul.sidebar-subtags li.sidebar-subtag {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
  }

  #sidebar li.sidebar-subtag a.sidebar-tag.has-unread span.name,
  #sidebar li.sidebar-subtag a.sidebar-tag.has-unread span.notification {
    font-family: @text-font-family;
    font-weight: bold;
  }

  #sidebar li.sidebar-subtag a.sidebar-tag span.icon {
    font-size: 16px;
    line-height: 16px;
  }

  #sidebar li.sidebar-subtag a.sidebar-tag span.name,
  #sidebar li.sidebar-subtag a.sidebar-tag span.notification {
    vertical-align: middle;
    font-weight: normal;
    font-size: 14px;
    font-family: @text-font-family;
    line-height: 16px;
  }

