{%    if mid in result.data.message
%}{%    set message = result.data.message[mid]
%}{%  else
%}{%    set message = None
%}{%  endif
%}{%  set metadata = result.data.metadata[mid]
%}{%  set thread = result.data.threads[metadata.thread_mid]
%}{%  set conversation_count = thread|length + 1
%}{%  set from = result.data.addresses[metadata.from.aid]
%}{%  if not from
%}{%    set from = {'fn': 'Unknown sender', 'email': ''}
%}{%  endif
%}{%  if metadata.urls.editing and conversation_count < 2
%}{%    set msg_url = metadata.urls.editing
%}{%  else
%}{%    set msg_url = metadata.urls.thread
%}{%  endif
%}
<li id="pile-message-{{mid}}"
    class="result{% for tid in metadata.tag_tids %} in_{{result.data.tags[tid].slug}}{% endfor %}{% if metadata.flags.replied %} replied{% endif %}"
    data-state="normal"
    data-mid="{{mid}}"
  {%- if metadata.body and metadata.body.list and
       ('list:' + metadata.body.list) not in state.query_args.q %}
    data-context-hint="{{ _('View e-mail from this mailing list') }}"
    data-context-icon="groups"
    data-context-url="{{ U('/search/?q=list:', metadata.body.list) }}"
    {%- else %}
    {%- if from and from.address and
         ('from:' + from.address) not in state.query_args.q %}
    data-context-hint="{{ _('Search for e-mail from:') }} {{metadata.from.fn}}"
    data-context-icon="user"
    data-context-url="{{ U('/search/?q=from:', from.address) }}"
    {%- endif %}
  {%- endif %}>
  <div class="clearfix" data-mid="{{mid}}">
    <a class="subject left" title="{{metadata.body.snippet}}" href="{{msg_url}}">
      <span class="icon-new"></span>
      {{ nice_subject(metadata) }} 
      {% if metadata.crypto.encryption != "none" %}
      <span class="icon-lock-closed {{metadata.crypto.encryption}}"></span> 
      {% endif %}
      {% if metadata.flags.replied %}<span class="icon-reply"></span>{% endif %}
      {% if metadata.flags.forwarded %}<span class="icon-forward"></span>{% endif %}
      {% if conversation_count > 1 %}<span class="conversation-count">{{conversation_count}}</span>{% endif %}
    </a>
    <div class="checkbox right">
      <input type="checkbox" name="mid" value="{{mid}}" data-mid="{{mid}}">
    </div>
  </div>
  <div class="snippet">
    {{metadata.body.snippet}}...
  </div>
  <div class="clearfix">
    <div class="from left">
      <a class="from" href="/search/?q=from:{{from.address}}" title="{{from.address}}">
        <span class="icon-user"></span> 
        {% if metadata.from.fn %}{{ metadata.from.fn }}{% else %}({{_("No Name")}}){% endif %}
      </a> 
      <em>on {{metadata.timestamp|friendly_datetime}}</em>
    </div>
    <div class="tags right">
    {% if has_label_tags(result.data.tags, metadata.tag_tids) %}
    {% for tid in metadata.tag_tids %}
      {% set tag = result.data.tags[tid] %}
      {% if tag.label and not tag.searched %}
      <span class="pile-message-tag color-{{tag.label_color}}" id="pile-message-tag-{{tag.tid}}-{{mid}}" data-tid="{{tag.tid}}" data-mid="{{mid}}">
        <span class="pile-message-tag-icon {{tag.icon}}"></span>
        <span class="pile-message-tag-name">{{tag.name}}</span>
      </span>
      {% endif %}
    {% endfor %}
    {% endif %}
    </div>
  </div>
</li>
