{%- set hard_coded_display_modes = safe('') -%}

{%- set search_actions_1 = '' -%}
{%- set search_actions_2 = '' -%}
{%- set search_actions_3 = '' -%}
{%- set search_actions_4 = '' -%}

{%- set hard_coded_selection_actions = safe(search_actions_1 + search_actions_2 + search_actions_3 + search_actions_4) -%}

{%- set search_terms_in = (result.search_terms or [''])[0][3:] %}
{%- if 'in:' == (result.search_terms or [''])[0][:3] %}
{%-   set saveClass = 'hide' %}
{%-   set editClass = '' %}
{%- else %}
{%-   set saveClass = '' %}
{%-   set editClass = 'hide' %}
{%- endif %}
{%- set activities = [] -%}

{%- set display_refiners = [{
    'name': 'display_all',
    'icon': 'inbox',
    'url': '/search/',
    'url_args_remove': [['qr', ''], ['context', ''], ['start', ''], ['end', '']],
    'text': _("All"),
    'description': _("All messages")
},{
    'name': 'unread',
    'icon': 'new',
    'url': '/search/',
    'url_args_remove': [['qr', ''], ['context', ''], ['start', ''], ['end', '']],
    'url_args_add': [['qr', 'is:unread']],
    'text': _("Unread"),
    'description': _("Unread messages")
},{
    'name': 'has_attachment',
    'icon': 'attachment',
    'url': '/search/',
    'url_args_remove': [['qr', ''], ['context', ''], ['start', ''], ['end', '']],
    'url_args_add': [['qr', 'has:attachment']],
    'text': _("Attachments"),
    'description': _("Messages with attachments")
}]
-%}
{%- set display_modes = [{
    'name': 'display_list',
    'icon': 'list',
    'url': '/search/',
    'text': _("List"),
    'description': _("List view")
}]
-%}
{%- include('partials/tools_default.html') -%}
