<div id="notification-bubbles"></div>
<div id="header" class="topbar">
  <div class="topbar-logo">
    <a href="{{ U('/profiles/') }}" title="{{theme_settings().title}}">
      <img src="/static/img/logo-57.png">
    </a>
  </div>
  <div class="topbar-logo-name">
    <a href="{{ U('/search/') }}" title="{{theme_settings().title}}">
      {{theme_settings().title}}
    </a>
  </div>
  <div class="topbar-actions">
    <form id="form-search" class="form-search clearfix" action="{{ U('/search/') }}">
		  <input id="search-query" class="typeahead" type="text"
                         name="q" placeholder="search" autocomplete="off"
                         tabindex=1 alt="{{_("Search")}}"
                         data-context="{{state.context}}"
                         value="{% for t in result.search_terms if t != 'all:mail' %}{{ t }} {% endfor %}">
		  <button type="submit" class="submit"><span class="icon-search"></span></button>
    </form>
    <nav class="topbar-nav">
      <ul>
        <li class="nav-search">
          <a href="#" title="{{_("Search")}}" alt="{{_("Search")}}"><span class="link-icon icon-search"></span></a>
        </li>
        {%- for a in get_ui_elements('activities', state, '/') -%}
        <li class="{% if command == a.name %}navigation-on{% endif %}">
          <a href="{{ U(a.url) }}" class="plugin-activity-{{ a.name }}" title="{{ a.description }}"><img alt="{{ a.text }}" class="icon-plugin-activity" src="{{ U(a.icon) }}"></a>
        </li>
        {%- endfor -%}
        <li>
        </li>
        <li class="nav-dropdown">
          <a href="#" data-target="#" class="nav-icon dropdown-toggle" data-toggle="dropdown" alt="{{_("About")}}" aria-haspopup="true" aria-expanded="false">
            <span class="link-icon icon-circle-info"></span>
          </a>
          <ul id="settings-menu" class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="button-settings">
            {% for item in theme_settings().urls_primary   %}
            <li role="presentation">
              <a role="menuitem" tabindex="-1" href="{{item.url}}">
                {% if item.icon %}<span class="{{item.icon}}"></span>{% else %} - &nbsp; {% endif %} {{item.name}}
              </a>
            </li>
            {% endfor %}
            <li role="presentation" class="divider"></li>
            {% for item in theme_settings().urls_secondary %}
            <li role="presentation">
              <a role="menuitem" tabindex="-1" href="{{item.url}}">
                {% if item.icon %}<span class="{{item.icon}}"></span>{% else %} - &nbsp; {% endif %} {{item.name}}
              </a>
            </li>
            {% endfor %}
            <li role="presentation" class="divider"></li>
            <li role="presentation">
              <a role="menuitem" tabindex="-1" href="{{ U("/auth/logout/") }}">
                <span class="icon-logout"></span> {{_("Logout")}}
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </nav>
  </div>
</div>
